{% extends 'base.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <body>
        <div class="row mt-2">

    
            </div>
            <h5>Please Click on below Button and You Show Chart Structure</h5>
            <div class="col-md-6">
                <input onclick="handleclick('bar')" type="button" name="bar" id="bar" value="bar">
                <input onclick="handleclick('pie')" type="button" name="pie" id="pie" value="pie">
                <canvas id="barchart" width="400" height="250"></canvas>
                <canvas id="piechart" width="400" height="250"></canvas>
                <script>
                    $(document).ready(function(){
                        $('#barchart').hide();
                        $('#piechart').hide();
                        
                    
                   
                    const ctx = document.getElementById('barchart').getContext('2d');
                    const barchart = new Chart(ctx, {
                        type:'bar',
                        data: {
                            labels: [{%for a in pro%} '{{a.name}}' ,{%endfor%}],
                            datasets: [{
                                label: '# of products',
                                data: [{%for a in pro%} {{a.number_of_products}}, {%endfor%}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.)',
                                    'rgba(255, 159, 64, 0.8)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                      
                
                    const ctx2 = document.getElementById('piechart').getContext('2d');
                    const piechart = new Chart(ctx2, {
                        type:'pie',
                        data: {
                            labels: [{%for a in pro%} '{{a.name}}' ,{%endfor%}],
                            datasets: [{
                                label: '# of products',
                                data: [{%for a in pro%} {{a.number_of_products}}, {%endfor%}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.8)',
                                    'rgba(54, 162, 235, 0.8)',
                                    'rgba(255, 206, 86, 0.8)',
                                    'rgba(75, 192, 192, 0.8)',
                                    'rgba(153, 102, 255, 0.)',
                                    'rgba(255, 159, 64, 0.8)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                {% comment %} y: {
                                    beginAtZero: true
                                } {% endcomment %}
                            }
                        }
                    });
                });
                function handleclick(type){
                    if (type=="bar"){
                        $('#barchart').show();
                        $('#piechart').hide();
                    }
                    else{
                        $('#barchart').hide();
                        $('#piechart').show();

                    }
                }
                </script>
            <button type="Logout" value="logout" name="logout" onclick="window.location='logout';">Logout</button>

            </div>
        </div>

    </body>
{% endblock %}